*.iml
.gradle
.kotlin
# Version control
vcs.xml
/local.properties
# IntelliJ
*.iml
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/libraries
# Android Studio 3 in .gitignore file.
.idea/caches
.idea/modules.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Google Services (e.g. APIs or Firebase)
google-services.json